body {
  font-family: monospace;
  text-align: center;
  background-color: azure;
  color: mediumpurple;
}

h1 {
  font-family: sans-serif
}

/*Style for all four html pages */

h3{
  text-align: center;
}

img {
  float: right;
  height: 100px;
  margin: 10px;
  border-color: green;
  border-width: 4px;
  border-style: double;
  border-radius: 20px}

p {
  font-size: 16px;
  font-family: fantasy;
  justify-content: flex-start;
}
a {
  align-items: stretch;
  background-color :lavender;
  color:black;
  border-style:solid;
  border-color:mediumpurple;
  border-radius: 15px;
  padding:7px;
  text-decoration: none;

}


.container-1{
  background: #b691d6;
  display: center;
}

a:link {
  color:#a200ff;
  font-size: 14px;
  font-style:oblique;
}
a:hover {
  color:mediumpurple;
  background-color:lightblue;
  font-size: 18px;
  text-decoration-style:wavy;
  border-radius: 5px;
}
.citation{
  height: 400px;
  display: flex-end;
  align-items: flex-end;
  font-style: italic;
}


